{% extends 'base.html' %}

{% block content %}
<h2>{% block title %}About Me{% endblock %}</h2>
<hr>

<div class="row">
  <div class="col-md-8">
    <p>
      Hi! I'm a recent Computing graduate from Munster Technological University.
      I'm passionate about building software that can be visualized like web sites as I got a taste of this during my work experience part of my degree where I worked at AspenGrove Solutions for 8 months. 
      <br>
      Although frontend is my main passion, I love working on databases as I have used many ranging from oracle to couch and mongo and I think one of the main reasons I love databases is how much they can differ depending on which one is being used.
      <br>
      In my final year of my degree I was class rep for my class which meant I had to deal with any issues a classmate might have had in college which I really enjoyed as it helped me come out of my shell and learn how to be a leader while learning how to communicate in many different scenarios along with being able to help people.
    </p>
    <p>
      During my degree I worked on projects spanning machine learning,
      AI algorithms, distributed computing, and full-stack web development. I imagine it is the typical thing you expect to see from a software development graduate but I think something that sets me apart is my eagerness to keep learning, since finishing my degree in May, I have made this website with python flask despite never making any web applications in python and I have started doing other projects to expand my learning which include using kubernetes and other tools such as razor, node.js and react.
    </p>
    <p>
      When I'm not coding, I really enjoy gaming and movies, in my free time when I have secured a job I plan to look into gaming code and try making some small games in Unity.
    </p>

    <h4 class="mt-4">Contact</h4>
    <ul>
      <li>Email: <a href="mailto:brian.purcell16@gmail.com">brian.purcell16@gmail.com</a></li>
      <li>GitHub: <a href="https://github.com/brianpurcell16" target="_blank">github.com/brianpurcell16</a></li>
      <li>LinkedIn: <a href="https://www.linkedin.com/in/brian-purcell-669183259/" target="_blank">linkedin.com/in/BrianPurcell</a></li>
    </ul>
  </div>
</div>
{% endblock %}