{% extends 'base.html' %}

{% block content %}
<h2>{% block title %}About Me{% endblock %}</h2>
<hr>

<div class="row">
  <div class="col-md-8">
    <p>
      Hi! I'm a recent Computing graduate from Munster Technological University.
      I'm passionate about building software that can be visualized like web sites as I got a taste of this during my work experience part of my degree where I worked at AspenGrove Solutions for 8 months. 
      Although frontend is my main passion, I love working on databases as I have used many ranging from oracle to couch and mongo and I think one of the main reasons I love databases is how much they can differ depending on which one is being used.
      In my final year of my degree I was class rep for my class which meant I had to deal with any issues a classmate might have had in college which I really enjoyed as it helped me come out of my shell and learn how to be a leader while learning how to communicate in many different scenarios along with being able to help people.
    </p>
    <p>
      During my degree I worked on projects spanning machine learning,
      genetic algorithms, distributed computing, and full-stack web development.
      I enjoy Python and Java, and I'm always learning something new.
    </p>
    <p>
      When I'm not coding, you'll find me [something personal — hiking, gaming, reading, etc.].
    </p>

    <h4 class="mt-4">Contact</h4>
    <ul>
      <li>Email: <a href="mailto:brian.purcell16@gmail.com">brian.purcell16@gmail.com</a></li>
      <li>GitHub: <a href="https://github.com/brianpurcell16" target="_blank">github.com/brianpurcell16</a></li>
      <li>LinkedIn: <a href="https://www.linkedin.com/in/brian-purcell-669183259/" target="_blank">linkedin.com/in/BrianPurcell</a></li>
    </ul>
  </div>
</div>
{% endblock %}